.arrowImageRight{
				background: url(../img/sortables_plusit-IT.gif) no-repeat;
			}
.arrowImageDown{
				background: url(../img/sortables_xit-IT.gif) no-repeat;
			}
#buscador .arrowImageRight{
				background: url(../img/slider-up-it-IT.png) no-repeat 50% 0;				
			}
#buscador .arrowImageDown{
				background: url(../img/slider-down-it-IT.png) no-repeat 50% 0;									
			}
#lbCloseLink {	
	background: transparent url(../img/1_closeit-IT.png) no-repeat center;
			}
#flagaddproperty {
width:48px;
height:48px;
margin:10px;
background: url(../img/flag-it-IT.png) no-repeat;
}